body {
    margin: 0;
    padding: 0;
    font-family: "roboto", sans-serif;
}

/*------------------------------navbar------------------------------------*/

.navbar {
    background-color: #b95f76;
    width: 100%;
}

.navbar-nav {
    margin-left: auto;
}

/*------------------------------Hero image------------------------------------*/

.hero-image {
    background-image: url(../images/band2.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: 80vh;
}

/*------------------------------sections------------------------------------*/

.about-us {
    background-color: #b95f76;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.about-us h4 {
    font-family: "poppins", sans-serif;
    font-weight: bold;
}

.who-box, .showcase-box {
    padding-top: 30px;
}

.testimonial {
    background-color: #c2c1b9;
    padding: 20px;
}

.testimonial h4 {
    text-align: center;
    font-family: "poppins", sans-serif;
    font-weight: bold;
}

/*------------------------------footer------------------------------------*/

footer {
    background-color: #2f4858;
}


.social-network {
    text-align: center;
}

.social-network li{
    display: inline;
}

.social-network i {
    font-size: x-large;
    padding: 15px;
    color: #b95f76;
}

.media-col p {
    text-align: center;
}