@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "roboto", sans-serif;
    font-size: 18px;
    color: #000;
}

/*------------------------------navbar------------------------------------*/

.navbar {
    background-color: #C98394;
    width: 100%;
}

.navbar-nav {
    float: right;
    text-align: right;
}

.navbar-nav .nav-link {
    font-weight: bold;
    color: #000 !important;
}

.navbar-nav .nav-link:hover {
    color: #2F4858 !important;
}

/*------------------------------Hero image------------------------------------*/

.hero-image {
    background-image: url(../images/Band2.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: 75vh;
}

.hero-image2 {
    background-image: url(../images/lights.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: 90vh;
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.band-image {
    background-image: url(../images/band.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
}

/*------------------------------sections------------------------------------*/

.about-us {
    background-color: #C98394; 
    padding: 30px
}

.capitilize {
    text-transform: capitalize;
}

.about-us h2, .testimonial h2, .whyus-box h2 {
    font-family: "poppins", sans-serif;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.showcase-box, .packages-box, .whyus-box {
    text-align: center;
}

.testimonial, .who-box, .aboutus-box  {
    text-align: justify;
}

.showcase-box i a {
    color: #000;
   font-weight: bold;
}

.showcase-box h2 {
    margin-bottom: 30px;
}

.showcase-box .follow-us {
    margin-top: 1.5em;
}

.register-box {
    background-color: rgb(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 20px;
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.testimonial, .whyus-box {
    background-color: #c2c1b9;
    padding: 30px;
}

.about-us .btn, .form-box .btn {
    color: #fff;
    background-color: #2F4858;
    border-color: #2F4858;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 15px;
}

.package-list li {
    padding: 10px;
    font-weight: bold;
    list-style-type: none;
    text-align: left;
    padding-left: 20%;
}

.package-list i {
    padding-right: 20px;
}

.band-image img {
    width: 90%;
    height: 100%;
    padding-bottom: 20px;
}

.whyus-points i {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-color: #C98394;
    line-height: inherit;
}

.blockquote .blockquote-footer {
    font-weight: bold;
    color: #2F4858;
    padding-bottom: 30px;
}

/*------------------------------contact page------------------------------------*/

.contact-container {
    background-color: rgb(0, 0, 0, 0.7);
    width: 80%;
    margin: auto;
    color: #c2c1b9;
    font-weight: bold;
    text-align: center;
}

.contact-header {
    margin-top: 20px;
}

.contact-header .contact-divider {
    height: 2px;
    width: 50%;
    background-color: #C98394;
}

.form-box {
    margin-left: 10%;
    margin-right: 10%;
}

/*------------------------------footer------------------------------------*/

.footer {
    background-color: #2F4858;
    color: #c2c1b9;
}


.social-network {
    text-align: center;
}

.social-network li{
    display: inline;
}

.social-network i {
    font-size: x-large;
    padding-right: 15px;
    padding-top: 20px;
    color: #c2c1b9;
}

.media-col p, .footer-email p {
    text-align: center;
}

