@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "roboto", sans-serif;
    font-size: 18px;
    color: #000;
}

/*------------------------------navbar------------------------------------*/

.navbar {
    background-color: #C98394;
    width: 100%;
}

.navbar-nav {
    float: right;
    text-align: right;
}

.navbar-nav a {
    font-weight: bold;
}

/*------------------------------Hero image------------------------------------*/

.hero-image {
    background-image: url(../images/Band2.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: 75vh;
}

.hero-image2 {
    background-image: url(../images/lights.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: 90vh;
}

/*------------------------------sections------------------------------------*/

.about-us {
    background-color: #C98394;
    text-align: justify;
    padding: 30px
}

.about-us h4 {
    font-family: "poppins", sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.showcase-box, .packages-box {
    text-align: center;
}

.showcase-box i a {
    color: #000;
   font-weight: bold;
}

.showcase-box .follow-us {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

.testimonial, .whyus-box {
    background-color: #c2c1b9;
    padding: 30px;
}

.testimonial {
    text-align: justify;
}

.whyus-box {
    text-align: center;
}

.testimonial h4, .whyus-box h4 {
    text-align: center;
    font-family: "poppins", sans-serif;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px;
}

.about-us .btn {
    color: #fff;
    background-color: #2F4858;
    border-color: #2F4858;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 15px;
}

.package-list li {
    padding: 10px;
    font-weight: bold;
    list-style-type: none;
    text-align: left;
    padding-left: 20%;
}

.package-list i {
    padding-right: 20px;
}

.band-image img {
    width: 90%;
    height: 100%;
    padding-bottom: 20px;
}

.whyus-points i {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-color: #C98394;
    line-height: inherit;
}

.blockquote .blockquote-footer {
    font-weight: bold;
    color: #2F4858;
    padding-bottom: 30px;
}

/*------------------------------footer------------------------------------*/

.footer {
    background-color: #2F4858;
    color: #c2c1b9;
}


.social-network {
    text-align: center;
}

.social-network li{
    display: inline;
}

.social-network i {
    font-size: x-large;
    padding-right: 15px;
    padding-top: 20px;
    color: #c2c1b9;
}

.media-col p, .footer-email p {
    text-align: center;
}

